@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 1.8rem;
  line-height: 1.3;
  font-family: 'Karla', sans-serif;
  background-color: var(--ltgray);
}

:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(179, 62%, 40%);
  --ltcyan: hsl(179, 62%, 45%);
  --yellow: hsl(71, 73%, 54%);
  --dkyellow: hsl(71, 73%, 48%);
  --ltgray: hsl(204, 43%, 93%);
  --gray: hsla(205, 100%, 96%, 0.777);
  --grayblue: hsl(218, 22%, 67%);
}

.container {
  margin: auto;
  max-width: 40rem;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: .2rem .2rem 1rem rgba(0, 0, 0,0.4);
}

@media (min-width: 40rem){
  body {  
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .community {
    grid-column: 1 / -1;
  }
}

.container > div {
  padding: 1.8rem 1.4rem;
}

.community {
  background-color: var(--white);
}

.community h1 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--cyan);
  font-weight: 700;
}

.community h2 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  color: var(--yellow);
  font-weight: 700;
}

.community p {
  font-size: 0.9rem;
  line-height: 1.7;
  color: var(--grayblue);
  margin-bottom: 0.3125rem;
  font-weight: 400;
}

.subscription {
  background-color: var(--cyan);
  color: var(--white);
}

.subscription h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.subscription .price {
  display: flex;
  align-items: center;
  color: var(--gray);
  margin-bottom: 0.3rem;
}

.subscription .price .big {
  font-size: 2rem;
  color: var(--white);
  margin-right: 0.9rem;
  font-weight: 700;
}

.subscription p {
  color: var(--ltgray);
  margin-bottom: 1.8rem;
}

.subscription a {
  display: block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--yellow);
  padding: 1.1rem;
  text-align: center;
  font-weight: 700;
  border-radius: 0.4rem;
  box-shadow: .2rem .2rem 1rem rgba(0, 0, 0,0.4);
  transition: background-color 200ms;
}

.subscription a:hover {
  border: 0.15rem solid var(--yellow);
  background-color: var(--cyan);
}

.why {
  background-color: var(--ltcyan);
  color: var(--white);
}

.why h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.why ul {
  list-style-type: none;
}

.why ul li {
  color: var(--ltgray);
  margin-top: 0.3rem;
}